#content {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

#greeting-container {
  margin-top: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.p1 {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
    font-weight: normal;
}

.boxed {
    border-radius: 25px;
    box-shadow: 5px 5px 12px -8px black;
    background: white;
    padding: 20px; 
    width: 7000px;
    height: 2275px; 
}

fieldset {
    border-radius:5px;
}