#content {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

#greeting-container {
  margin-top: 20px;
}

.inline {
    display: inline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.p1 {
    font-family: "Roboto Mono", monospace;
    font-weight: medium;
}

.boxed {
    border-radius: 25px;
    box-shadow: 5px 5px 12px -8px black;
    background: white;
    padding: 20px; 
    width: 7000px;
    height: 2500px; 
}

fieldset {
    border-radius:5px;
}

.image {
    width: 300px;
    height: 380px;
}

/* Slide button styling */
.slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Roboto Mono", monospace;
  }
  
  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  
  .slide::after {
    content: "";
    background-color: #fddde6;
    border-radius: 25px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  
  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }
  /* End of Slide Button  */
  